* {
  margin: 0;
  padding: 0;
}

.navbar-orange {
  background-color: orange;
}
.slider {
  margin-top: 100px;
}
.slider__logo {
  font-weight: bold;
  color: orange;
}
.slider__slogan {
  font-style: italic;
  font-weight: bold;
  color: orange;
}

.intro__title {
  color: orange;
  font-weight: 600;
}

.intro__dadang {
  background-color: lightgoldenrodyellow;
}
.intro__chatluong {
  background-color: yellow;
}
.intro__huongvi {
  background-color: lightsalmon;
}
.intro__dichvu {
  background-color: orange;
}

.pizza__title_small {
  background-color: orange;
}
.pizza__title_large {
  background-color: orange;
}
.pizza__btn__choose {
  background-color: orange;
}
.pizza__btn__choose__pizza {
  background-color: orange;
}

.card-title {
  font-weight: 600;
}

.contact__btn {
  background-color: orange;
}

footer {
  background-color: orange;
}
